{% extends 'base.html.twig' %}

{% block title %}Line index
{% endblock %}

{% block body %}
	<h1>Line index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Cantidad</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for line in lines %}
				<tr>
					<td>{{ line.id }}</td>
					<td>{{ line.cantidad }}</td>
					<td>
						<a href="{{ path('app_line_show', {'id': line.id}) }}">show</a>
						<a href="{{ path('app_line_edit', {'id': line.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# <a href="{{ path('app_line_new') }}">Create new</a> #}
{% endblock %}
