{% extends 'base.html.twig' %}

{% block title %}Foro index
{% endblock %}

{% block body %}
	<h1>Foro index</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for foro in foros %}
				<tr>
					<td>{{ foro.id }}</td>
					<td>{{ foro.name }}</td>
					<td>
						<a href="{{ path('app_foro_show', {'id': foro.id}) }}">show</a>
						<a href="{{ path('app_foro_edit', {'id': foro.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('app_foro_new') }}">Create new</a>
	{% endif %}
{% endblock %}
