{% extends 'base.html.twig' %}

{% block title %}Tema index
{% endblock %}

{% block body %}
	<h1>Temas de
		{{foro.name}}</h1>


	{% for tema in temas %}
		<div>
			<h1>
				<a href="{{ path('app_tema_show', {'id': tema.id}) }}">{{tema.name}}</h1>
				<img style="width: 200px" src="/img/{{tema.comments[0].imagen}}"/>
			</a>
			{% if is_granted("ROLE_ADMIN") %}
				<a href="{{ path('app_tema_edit', {'id': tema.id}) }}">edit</a>
			{% endif %}
		</div>


	{% else %}
		<span>No hay temas en el foro</span>

	{% endfor %}
	<a href="{{ path('app_tema_new', {'id': foro.id}) }}">Create new</a>
{% endblock %}
